<!--
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center pb-4 pt-3"><span class="text-primary"><i class="fa fa-lock"></i>StockMarketCharting</span> Register
          </h1>
          <form >
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="name" class="form-control" name="name"  required>
            </div>
            <div class="form-group">
              <label for="tel">Phone Number</label>
              <input type="tel" [(ngModel)]="tel" class="form-control" name="tel"  required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" [(ngModel)]="email" class="form-control" name="email"  required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" [(ngModel)]="password" class="form-control" name="password"  required>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" [(ngModel)]="password2" class="form-control" name="password"  required>
            </div>
            <input type="submit" (click)="register()" value="Register" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
-->
<div class="jumbotron">
  <h1 class="display-4">Register!</h1>
  <p class="lead">.</p>
  <hr class="my-4">
  <div class="row">
<div class="col-md-12">
    
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>        
      </div>

      <div class="form-group">
        <label for="password">Retype Password</label>
        <input type="password" class="form-control" name="password2" [(ngModel)]="form.password2  " required minlength="6" #password="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password != password2">
            Passwords must match
          </div>
        </div>        
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
</div>