<div class="jumbotron">
    <h1 class="display-4">About Us!</h1>
    <p class="lead">.</p>
    <hr class="my-4">
    <p>.</p>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 12rem;">
            <img src="/assets/home3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Invest in the world's most popular assets</h5>
            <a href="#" class="btn btn-primary">Plot Pie Carts</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 12rem;">
            <img src="/assets/home2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Invest in the world's most popular assets</h5>
            <a href="#" class="btn btn-primary">Search companies</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 12rem;">
            <img src="/assets/home1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Invest in the world's most popular assets</h5>
            <a href="#" class="btn btn-primary">Create a profile</a>
            </div>
        </div>
    </div>
</div>
</div>